eclipse_ee_ws/.metadata/.log
eclipse_ee_ws/.metadata/.plugins
eclipse_ee_ws/.metadata/version.ini
eclipse_and_ws/.metadata/.log
eclipse_and_ws/.metadata/.plugins
eclipse_and_ws/.metadata/version.ini
eclipse_and_ws/.metadata/.lock
